Cliquez sur une lettre :

{{#each premieresLettres}}
	<a href="/repertoire/{{this}}">{{this}}</a>
{{/each}}

<div class="vips">

	{{#each vips}}

		<a href="/vip/{{this.id}}">

			<div class="vip">

				<img src="/images/vip/{{this.photo.adresse}}">

				{{this.prenom}} {{this.nom}}

			</div>

		</a>

	{{/each}}

</div>