{{> photosMenu}}

<fieldset class="adminOnTheRight">

	<legend>{{title}}</legend>

	<select name="vip" id="vipPhotoDelete">
		<option selected disabled>Sélectionnez un VIP...</option>
		{{#each vips}}
			<option value="{{this.id}}">{{this.nom}} {{this.prenom}}</option>
		{{/each}}

	</select>

	{{#each vips}}

		<div class="listePhotos" id="photos{{this.id}}" style="display:none">

			{{#each this.photos}}

				<form action="#" method="POST">
					<img src="/images/vip/{{this.adresse}}" width="200px">
					<input name="vip" type="hidden" value="{{../id}}">
					<input name="id" type="hidden" value="{{this.numero}}">
					<button type="submit" value="Supprimer">Supprimer</button>
				</form>

			{{/each}} 

		</div>

	{{/each}}

	<script src="/js/jquery.js"></script>
	<script>
		$(function(){
			$("#vipPhotoDelete").on("change", function(){

				$(".listePhotos").hide()

				$("#photos"+$(this).val()).show()

			})
		})
	</script>

</fieldset>